<!DOCTYPE html>
<html>
    <body>

        <h1>Aeropuerto - Juan Andrés Montoya</h1>
        <h2>Registrar vuelos</h2>

        <form action="/registerFlights/" method="post">

            {% csrf_token %}
            <label for="flightName">Nombre del vuelo:</label><br>
            <input type="text" id="flightName" name="flightName"><br>
            <label for="flightType">Tipo de vuelo:</label><br>
            <select class="form-select" aria-label=".form-select-lg" name="flightType">
                <option value="Nacional">Nacional</option>
                <option value="Internacional">Internacional</option>
            </select> <br>
            <label for="flightPrice">Precio del vuelo:</label><br>
            <input type="number" id="flightPrice" name="flightPrice"><br>

            <input type="submit" value="Registrar vuelo">

    </body>
</html>